.index #opening-hours-btn {
  margin: 0;
}
/* .index .column-one-third {
  margin: 0 10px;
} */
.index .column-one-third, .index .comments, .index .comments>ul {
  margin: 0;
}
.index .sidebar h5.line {
  margin-bottom: 10px;
}
.index .opening-hours {
  margin-top: 10px;
}
.index .more-news, .index .more-news>a {
  margin: 0 !important;
}
.index .news-list ul li article {
  padding-right: 5px;
}
.index table td, .index table th {
  padding: 3px 5px;
}
.index .container>.column-one-third {
  margin-bottom: 14px;
}
/*--- 2020/9/17 Added--- */
.index * {
  text-transform: none;
}
.index .point {
  display: block;
  background-position-y: center;
}
.index .point>a {
  display: inline-block;
}
.index .point>a:hover {
  color: #EA4748;
  text-decoration: none;
}
.index .news-list ul li {
  padding-left: 5px;
}
.index .block li {
  background-image: none;
}
/*--- 2020/9/17 Added--- */

/*--- 2020/12/23 Added--- */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.post.medium>.medium-image, .post.medium>.medium-image~.date, .post.medium>.medium-image~.date~.medium-content, .post.medium>.post-content  {
  margin: 0;
  padding: 0;
}
.post.medium>.medium-image {
  width: 100%;
}
.post.medium>.date {
  width: calc(100%/3);
  height: auto;
  padding-right: 10px !important;
  margin-bottom: 10px !important;
}
.post.medium>.date:first-child {
  float: none;
  margin-bottom: 10px;
}
.post.medium>.medium-image~.date~.medium-content {
  width: calc(100%*2/3);
}
.post.medium>.date .day {
  font-size: 2rem;
  padding: 0 10px;
}
.post.medium>.date .month {
  font-size: 1.2rem;
}
/* .post-img>a {
  display: block;
} */
.post-img a img {
  max-width: 100%;
}
.meta {
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .post.medium>.date:first-child, .post.medium>.post-content {
    float: left;
  }
  .post.medium>.date:first-child {
    margin-bottom: 0;
  }
  .post.medium>.date {
    width: calc(100%/4) !important;
  }
  .post.medium>.medium-image~.date~.medium-content, .post.medium>.post-content {
    width: calc(100%*3/4);
  }  
}
@media (min-width: 960px) {
  .post.medium>.date {
    width: calc(100%/5) !important;
  }
  .post.medium>.medium-image~.date~.medium-content, .post.medium>.post-content {
    width: calc(100%*4/5);
  }  
}
@media (min-width: 1200px) {
  .post.medium>.date {
    width: calc(100%/6) !important;
  }
  .post.medium>.medium-image~.date~.medium-content, .post.medium>.post-content {
    width: calc(100%*5/6);
  }  
}
/*--- 2020/12/23 Added--- */


@media (max-width: 767px) {
  .index .logo {
    margin: 0;
  }
  .index .container {
    width: 100% !important;
    padding: 10px;
  }
  .index [class*="column"], .slider-home {
    width: 100%;
    margin: 0;
  }
  .index .block li {
    margin: 0;
    padding: 0;
  }
  .index .news-list time {
    margin: 0;
    width: auto;
    margin-right: -5px;
  }
  .index .flexslider {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .index .news-list ul li article {
    padding-right: 0;
  }
  .index .column-one-third {
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1100px)  {
  .index #navigation {
    background: none;
  }
  .index .menu>li {
    width: auto;
    padding: 0;
  }
  .index .menu>li>a {
    background-color: #b11f50;
    padding: 15px 30px;
  }
}