.index #opening-hours-btn {
  margin: 0;
}
/* .index .column-one-third {
  margin: 0 10px;
} */
.index .column-one-third, .index .comments, .index .comments>ul {
  margin: 0;
}
.index .sidebar h5.line {
  margin-bottom: 10px;
}
.index .opening-hours {
  margin-top: 10px;
}
.index .more-news, .index .more-news>a {
  margin: 0 !important;
}
.index .news-list ul li article {
  padding-right: 5px;
}
.index table td, .index table th {
  padding: 3px 5px;
}
.index .container>.column-one-third {
  margin-bottom: 27px;
}
/*--- 2020/9/17 Added--- */
.index * {
  text-transform: none;
}
.index .point {
  display: block;
}
.index .point>a {
  display: inline-block;
}
.index .point>a:hover {
  color: #EA4748;
  text-decoration: none;
}
.index .news-list ul li {
  padding-left: 5px;
}
/*--- 2020/9/17 Added--- */

@media (max-width: 767px) {
  .index .logo {
    margin: 0;
  }
  .index .container {
    width: 100% !important;
    padding: 10px;
  }
  .index [class*="column"], .slider-home {
    width: 100%;
    margin: 0;
  }
  .index .block li {
    margin: 0;
    padding: 0;
  }
  .index .news-list time {
    margin: 0;
    width: auto;
    margin-right: -5px;
  }
  .index .flexslider {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .index .news-list ul li article {
    padding-right: 0;
  }
  .index .column-one-third {
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (max-width: 1100px)  {
  .index #navigation {
    background: none;
  }
  .index .menu>li {
    width: auto;
    padding: 0;
  }
  .index .menu>li>a {
    background-color: #b11f50;
    padding: 15px 30px;
  }
}